<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Artistes</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header class="top-header">
    <h1>🎤 Artistes</h1>
    <nav class="nav-menu">
        <a href="/" class="nav-link">Accueil</a>
        <a href="/artists" class="nav-link active">Artistes</a>
    </nav>
</header>

<section class="artists-section">
    <div class="artists-grid">

        {{ range . }}
        <div class="artist-card">
            <img src="{{ .Image }}" alt="{{ .Name }}">
            <h3>{{ .Name }}</h3>
            <p>Créé en {{ .CreationDate }}</p>
            <p>{{ len .Members }} membre(s)</p>

            <a href="/artist?id={{ .ID }}" class="details-btn">Voir détails</a>
        </div>
        {{ end }}

    </div>
</section>

</body>
</html>
